<div class="uk-article-meta uk-grid uk-grid-small">
    <div>
	<span uk-icon="icon: user"></span>
	<b><a class="uk-text-middle" href="/about">Evan</a></b>
    </div>
    <div>
	<span uk-icon="calendar"></span>
	<b><a class="uk-text-middle" href="/archive">
	    <time datetime={{ page.metadata["date"] }}>
		{{ page.metadata["date"].strftime("%Y-%m-%d") }}
	    </time>
	</a></b>
    </div>
    <div>
	<span uk-icon="tag"></span>
	{% for tag in page.metadata.get('tags') %}
	    <span class="uk-text-middle uk-text-bold">
		<a href="/tags/{{ tag }}">{{ tag }}</a>
		{% if not loop.last %} / {% endif %}
	    </span>
	{% endfor %}
    </div>
</div>
