<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88158881-1"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-88158881-1');
</script>
<meta charset="utf-8">
<meta name=viewport content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="stylesheet" href="/dist/index.css">
<script type="text/javascript" src="/dist/index.bundle.js"></script>
<script type="text/javascript" src="/dist/walker.bundle.js" defer></script>
<meta name="twitter:site" content="{{ site.settings['twitter'] }}">
<meta name="twitter:creator" content="{{ site.settings['twitter'] }}">
