<div class="uk-navbar-container" uk-sticky>
    <nav class="uk-navbar">
	<div class="uk-navbar-left">
	    <a class="uk-navbar-item" href="/">
		<canvas class="uk-logo" id="walker" width="60" height="60"></canvas>
	    </a>
	    <a class="uk-navbar-item uk-logo" href="/">
		E.P Salt
	    </a>
	</div>
	<div class="uk-navbar-right">
	    <ul class="uk-navbar-nav uk-visible@m">
		<li><a href="/projects">Projects</a></li>
		<li><a href="/archive">Archive</a></li>
		<li><a href="/tags">Tags</a></li>
		<li><a class="uk-margin-small-right" href="/about">About</a></li>
	    </ul>
	    <a class="uk-navbar-toggle uk-hidden@m" uk-toggle="target: #offcanvas" uk-navbar-toggle-icon></a>
	</div>
    </nav>
</div>
