<div class="sidebar sidebar-left uk-margin uk-margin-left uk-visible@m">
    <ul class="uk-nav uk-nav-default">
	<li class="uk-parent">
	    <a href="/archive" class="uk-link-reset">
		<span class="uk-icon uk-margin-small-right uk-text-middle" uk-icon="icon: file-text"></span>
		<span class="uk-text-middle">Posts</span>
	    </a>
	    <ul class="uk-nav-sub">
		{% for section in site.sections %}
		    {% if section.name == "posts" %}
			{% for page in section.sorted[-1:-6:-1] %}
			    <li>
				<a href=/{{ page.url }}>{{ page.metadata['title'] }}
				</a>
			    </li>
			{% endfor %}
		    {% endif %}
		{% endfor %}
	    </ul>
	</li>
	<li class="uk-parent uk-nav-divider">
	    <a href="/projects" class="uk-link-reset">
		<span class="uk-icon uk-margin-small-right" uk-icon="icon: code"></span>
		<span class="uk-text-middle">Projects</span>
	    </a>
	    <ul class="uk-nav-sub">
		{% for section in site.sections %}
		    {% if section.name == "projects" %}
			{% for page in section.sorted[-1:-6:-1] %}
			    <li>
				<a href=/{{ page.url }}>{{ page.metadata['title'] }}
				</a>
			    </li>
			{% endfor %}
		    {% endif %}
		{% endfor %}
	    </ul>
	</li>
	<li class="uk-parent uk-nav-divider">
	    <a href="/tags" class="uk-link-reset">
		<span class="uk-icon uk-margin-small-right" uk-icon="icon: tag"></span>
		<span class="uk-text-middle">Tags</span>
	    </a>
	    <ul class="uk-nav-sub">
		{% for category in site.categories %}
		    {% if category.name == "tags" %}
			{% for item in category.sorted[:5] %}
			    <li>
				<a href=/{{ item.url }}>
				    {{ item.value }}&nbsp;&nbsp;
				    <code class="uk-text-muted">{{ item.count }}</code>
				</a>
			    </li>
			{% endfor %}
		    {% endif %}
		{% endfor %}
	    </ul>
	</li>
	<li class="uk-parent uk-nav-divider">
	    <a href="/about" class="uk-link-reset">
		<span class="uk-icon uk-margin-small-right" uk-icon="icon: user; ratio: 0.95"></span>
		<span class="uk-text-middle">Social</span>
	    </a>
	    {% include 'partials/socials.html' %}
	</li>
    </ul>
</div>
