<ul class="uk-nav-sub">
    <li>
	<a href="https://twitter.com/epsalt">
	    <span class="uk-margin-small-right" uk-icon="twitter"></span>
	    <span class="uk-text-middle">Twitter</span>
	</a>
    </li>
    <li>
	<a href="https://github.com/epsalt">
	    <span class="uk-margin-small-right" uk-icon="github"></span>
	    <span class="uk-text-middle">Github</span>
	</a>
    </li>
    <li>
	<a href="mailto:evan@epsalt.ca">
	    <span class="uk-margin-small-right" uk-icon="mail"></span>
	    <span class="uk-text-middle">Email</span>
	</a>
    </li>
    <li>
	<a href="/rss">
	    <span class="uk-margin-small-right" uk-icon="rss"></span>
	    <span class="uk-text-middle">RSS</span>
	</a>
    </li>
</ul>
