@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.webpack.css";

.leaflet-container {
    cursor:crosshair;
}

#map {
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#legend {
    margin-left: 40px;
}

.wrapper {
    margin-bottom: 10px;
}

@media screen and (min-width: 550px) {
  #map {
      height: 400px;
  }
}
