<!DOCTYPE html>
<html>
    <head>
	{% include 'partials/head.html' %}
	{% block twitter %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block description %}{% endblock %}"></meta>
    </head>
    <body>
	{% include 'partials/navbar.html' %}
	{% include 'partials/sidebar.html' %}
	<div class="main uk-section uk-section-default uk-padding-small">
	    <div class="uk-container uk-container-xsmall uk-position-relative">
		{% block body %}{% endblock %}
	    </div>
	</div>
	{% include 'partials/offcanvas.html' %}
    </body>
</html>
