<article class="uk-article">
    <a href=/{{ page.url }}>
	<h1 class="uk-article-title uk-h1 uk-margin-small-bottom">
	    {{ page.metadata['title'] }}
	</h1>
    </a>
    {% include 'partials/article-meta.html' %}
    <hr>
    {{ page.content }}
</article>
<ul class="uk-pagination uk-margin-medium-top uk-margin-medium-bottom">
    {% if page.prev is not none %}
	<li>
	    <a href=/{{ page.prev.url }}>
		<span class="uk-margin-small-right" uk-pagination-previous></span>
		{{ page.prev.metadata['title'] }}
	    </a>
	</li>
    {% endif %}
    {% if page.next is not none %}
	<li class="uk-margin-auto-left">
	    <a href=/{{ page.next.url }}>
		{{ page.next.metadata['title'] }}
		<span class="uk-margin-small-left" uk-pagination-next></span>
	    </a>
	</li>
    {% endif %}
</ul>
