{% extends "base.html" %}
{% block title %}
    {{ page.metadata["title"] }} - {{ site.settings.get('title') }}
    {{ super() }}
{% endblock title %}
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.metadata['title'] }}">
    <meta name="twitter:description" content="{{ page.metadata['summary'] }}">
    <meta name="twitter:image" content="{{ site.settings['base'] }}/images/{{ page|slug }}/twitter.png">
    {{ super() }}
{% endblock twitter %}
{% block description %}
    {{ page.metadata.get('summary') }}
{% endblock description %}

{% block body %}
    {% include 'postbody.html' %}
{% endblock body %}
