{% extends "base.html" %}
{% block title %}{{ page.metadata["title"] }}{% endblock title %}
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@epsalt">
    <meta name="twitter:creator" content="@epsalt">
    <meta name="twitter:title" content="{{ page.metadata['title'] }}">
    <meta name="twitter:description" content="{{ page.metadata.get('summary') }}">
    <meta name="twitter:image" content="https://epsalt.ca/images/{{ page.url }}/twitter.png">
{% endblock %}
{% block body %}
    {% include 'postbody.html' %}
{% endblock %}
