{% extends "base.html" %}
{% block title %}{{ page.metadata['title'] }} - {{ site.settings['title'] }} {% endblock title %}
{% block description %}{{ page.metadata['summary'] }}{% endblock %}
{% block twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.metadata['title'] }}">
    <meta name="twitter:description" content="{{ page.metadata['summary'] }}">
    <meta name="twitter:image" content="{{ site.settings['base'] }}/images/{{ page|slug }}/twitter.png">
    {{ super() }}
{% endblock twitter %}
{% block assets %}
    {% if page.metadata.get('css') is not none %}
	<link rel="stylesheet" href="/dist/{{ page.metadata['css'] }}.css">
    {% endif %}
    {% if page.metadata.get('js') is not none %}
	<script type="text/javascript" src="/dist/{{ page.metadata['js'] }}.bundle.js" defer></script>
    {% endif %}
{% endblock %}

{% block body %}
    <article class="uk-article">
	<a href=/{{ page.url }}>
	    <h1 class="uk-article-title uk-h1 uk-margin-remove-bottom">
		{{ page.metadata['title'] }}
	    </h1>
	</a>
	<p class="uk-article-meta uk-margin-small-top">
	    <span uk-icon="calendar"></span>
		<time class="uk-text-middle" datetime={{ page.metadata["date"] }}>
		    {{ page.metadata["date"].strftime("%Y-%m-%d") }}
		</time>
	    <span class="uk-margin-small-left" uk-icon="github-alt"></span>
	    <a class="uk-text-middle" href={{ page.metadata["source"] }}>View Source</a>
	</p>
	<hr>
	{{ page.content }}
    </article>
{% endblock %}
