{% extends "base.html" %}
{% block title %} Posts tagged '{{ item.value }}' - {{ site.settings.get('title') }}{% endblock title %}
{% block description %}A listing of all posts tagged '{{ item.value }}'{% endblock description %}
{% block body %}
    <h1 class="uk-heading-divider">
	All posts tagged '{{ item.value }}'
    </h1>
    {% for page in item.sorted|reverse %}
	<article class="uk-article uk-margin-remove">
	    <a href=/{{ page.url }}>
		<h3 class="uk-margin-remove">{{ page.metadata.get('title') }}</h3>
	    </a>
	    {% include 'partials/article-meta.html' %}
	    <p class="uk-text-italic uk-margin-remove-top uk-margin-bottom">{{ page.metadata.get('summary') }}</p>
	</article>
    {% endfor %}
{% endblock %}
